.Tree {
    display: block;
}

.FileTypeIcon {
    vertical-align: middle;
    cursor: pointer;
}

.FileTypeIconIcon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    width: 16px;
    height: 16px;
}

.NodeTitle {
    vertical-align: middle;
    padding-left: 5px;
}